
# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# package-lock
package-lock.json

# builds
build
dist
.rpt2_cache
packages/pliny/analytics
packages/pliny/comments
packages/pliny/config
packages/pliny/mdx-components
packages/pliny/mdx-plugins
packages/pliny/newsletter
packages/pliny/search
packages/pliny/seo
packages/pliny/ui
packages/pliny/utils
packages/pliny/chunk-*
packages/pliny/*.js
packages/pliny/*.d.ts

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

.tmp*
/tmp

/.yarn/*
!/.yarn/releases
!/.yarn/plugins
!/.yarn/sdks

npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.turbo
/_release
oclif.manifest.json

# ide's setting folder
.vscode/
.idea/

# jest code coverage reports
coverage/

# cypress miscellaneous
cypress/screenshots
cypress/videos

# rollup 
stats.html

# Contentlayer
.contentlayer
